#maps {
    div {
        h1 {
            background-color: #6D874C;
            color: #F4EACF;
            padding: 20px;
        }
    }

    // ul { 
    //     li {
    //         button {
    //             align-items: center;
    //         }
    //     }
    // }
    
}

