#maps {
    div {
        h1 {
            background-color: #6D874C;
            color: #F4EACF;
            padding: 20px;
        }
    }

    
        ul{
            li{
                h3{
                    color: #946D5B;
                    margin: 24px 6px 24px 6px;
                }
                p{
                    margin: 6px;
                }
            }
        }
    

    // ul { 
    //     li {
    //         button {
    //             align-items: center;
    //         }
    //     }
    // }
    
}

