body {
    background-color: #FFFBF2;
    padding: 0;
}

#whattodo {


    div {
        >h1 {
            background-color: #6D874C;
            color: #F4EACF;
            padding: 40px 40px 40px 16px;
            margin: 72px 115px 24px 0px;

            @include md {
                margin: 0px;
            }
        }
    }

    // ul {
    //     li {

    //         #PermitBG {
    //             @include md {



    //                 //margin: 10px;
    //                 display: grid;

    //                 grid-template-columns: repeat(5, 1fr);
    //                 grid-template-rows: 5px auto 5px;
    //                 grid-template-areas:
    //                     "p p . i i";
    //             }
    //         }

    //     }
    // }



}





//****************
// ON SEASON BOX 
//****************



#OnSeasonBG {

    background-image: url("../img/whattodo/DESK20190717_JordanPondPath013.png");
    min-height: 5in;

    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    border-style: solid;
    border-color: #DEA68E;
    border-width: 6px;
    margin: 72px 5px 72px 5px;

    #OnSeasonText {
        background-color: #DEA68E;
        color: $white;
        margin: 70px 150px 24px 150px;
        padding: 60px 40px;
        text-align: center;
        vertical-align: middle;
        position: absolute;

        h1 {
            text-align: center;
            margin: 10px;
        }

        p {
            text-align: center;
        }
    }
}



//****************
// OFF SEASON BOX 
//****************


#OffSeasonBG {

    background-image: url("../img/whattodo/DESK7698_4063_Acadia_Cross_Country_Skiing_lg.png");
    min-height: 5in;

    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    border-style: solid;
    border-color: #DEA68E;
    border-width: 6px;
    margin: 72px 5px 72px 5px;

    #OffSeasonText {
        background-color: #DEA68E;
        color: $white;
        margin: 70px 150px 24px 150px;
        padding: 60px 40px;
        text-align: center;
        vertical-align: middle;
        position: absolute;

        h1 {
            text-align: center;
            margin: 10px;
        }

        p {
            text-align: center;
        }
    }
}



//********************************
// WHERE GRID BEGINS 
//********************************

//********************************
// PERMIT INFO AND PURCHASING BOX 
//********************************

#PermitBG {
    
    grid-area: p;
    background-image: url("../img/whattodo/HD20200601_ANP_ParkOpening_066.png");
    min-height: 5in;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    border-style: solid;
    border-color: #DEA68E;
    border-width: 6px;
    margin: 72px 5px 72px 5px;
    

    #PermitText {
        background-color: #DEA68E;
        color: $white;
        margin: 70px 150px 24px 150px;
        padding: 60px 40px;
        text-align: center;
        vertical-align: middle;
        position: absolute;

        h1 {
            text-align: center;
            margin: 10px;
        }

        p {
            text-align: center;
        }
    }

}



//**********************
// GETTING INVOLVED BOX 
//**********************



#InvolvedBG {
    
    grid-area: i;
    background-image: url("../img/whattodo/HDDDDDIMG_7414_1.png");
    min-height: 5in;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    border-style: solid;
    border-color: #DEA68E;
    border-width: 6px;
    margin: 72px 5px 72px 5px;
    

    #InvolvedText {
        background-color: #DEA68E;
        color: $white;
        margin: 70px 150px 24px 150px;
        padding: 60px 40px;
        text-align: center;
        vertical-align: middle;
        position: absolute;

        h1 {
            text-align: center;
            margin: 10px;
        }

        p {
            text-align: center;
        }
    }

}