/* =============
    Header
============= */
header{
    div{
        section{
            h4{
                background-color: #C44640;
                color: white;
                padding: 7px;
            }

            img{
                margin: 10px;
            }
        }
    }
}